*{
    margin: auto;
    box-sizing: border-box;
}
body{
    
    padding: 0;
    margin: 0;
}
.calc{
    width: 400px;
    background-color: rgb(54, 53, 53);
    color: white;
}

.screen{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}
.button{
    background-color: rgb(192, 192, 182);
    color: black;
    height: 100px;
    width: 24.5%;
    border:none;
    border-radius: 0;
    font-size: 40px;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(231, 231, 223);
}
.button:active{
    background-color: rgb(160, 160, 153);;
}
.double{
    width: 49.6%;
    background-color: rgb(250, 108, 56);
}
.triple{
    width: 74.4%;
}
.calc-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: .5%;

}
.button:last-child{
    background-color: rgb(250, 108, 56);
}
.button:last-child:hover {
    background-color: rgb(236, 139, 103);
}
.double:hover{
    background-color: rgb(236, 139, 103);
}
.button:last-child:active{
    background-color: rgb(235, 86, 32);
}
.double:active{
    background-color: rgb(235, 86, 32);
}